
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: #b71540;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	width: 60%;
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	display: block;
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
nav .icon-burger .line:nth-child(3) {
	margin-top: -10px;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 100%;
		right: -100%;
		top: 100px;
		bottom: 0;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: start;
		background-color: #b71540;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
		
	}
	
	nav .links li {
		padding: .5em 0;
	}
	nav .links a {
		font-size: 20px;
		transform: translateX(100px);
		transition: all .3s ease-in-out;
	}
	nav .icon-burger {
		display: block;
	}
	.nav-opened nav .links {
		left: 0;
		right: 0;
	}
	.nav-opened nav .links a {
		transform: translateX(0);
	}
	.nav-opened nav .links li:nth-child(1) a {
		transition-delay: 0s;
	}
	.nav-opened nav .links li:nth-child(2) a {
		transition-delay: .1s;
	}
	.nav-opened nav .links li:nth-child(3) a {
		transition-delay: .2s;
	}
	.nav-opened nav .links li:nth-child(4) a {
		transition-delay: .3s;
	}
	.nav-opened nav .links li:nth-child(5) a {
		transition-delay: .4s;
	}
	.nav-opened nav .icon-burger .line:nth-child(1),
	.nav-opened nav .icon-burger .line:nth-child(4) {
		transform: scale(0);
	}
	.nav-opened nav .icon-burger .line:nth-child(2) {
		transform: rotate(45deg);
	}
	.nav-opened nav .icon-burger .line:nth-child(3) {
		transform: rotate(-45deg);
	}
	.nav-opened .container {
		transform: translateX(-30%);
		opacity: .3;
	}
}

